.history {
  text-align: right;
  margin-right: 0;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.section {
  transition: 350ms ease-in-out;
  min-width: 80px;
  @media (max-width: 700px) {
    min-width: 40px;
  }
  &:first-of-type {
    text-align: right;
    margin-right: 0;
    background-color: black;
    color: white;
  }
  &:nth-of-type(3) {
    text-align: right;
    margin-right: 0;
    background-color: blueviolet;
    color: white;
  }
  cursor: pointer;
  .container {
    padding: 56px 80px;
    @media (max-width: 700px) {
      padding: 40px;
    }
    max-width: 600px;
  }
  &.open {
    min-width: calc(100% - 160px);
    @media (max-width: 700px) {
      min-width: calc(100% - 80px);
    }
  }
}

.vertical {
  position: fixed;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  height: 100vh;
  font-size: 24px;
  letter-spacing: 8px;
  text-transform: uppercase;
  text-align: center;
  color: white;
  top: 0;
  left: 24px;
  margin: 0;
}

.vision.vertical {
  right: 24px;
}
