.history {
  text-align: right;
  margin-right: 0;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.section {
  transition: 350ms ease-in-out;
  cursor: pointer;
  .container {
    padding: 56px 80px;
    max-width: 600px;
  }
}

.vertical {
  position: fixed;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  height: 100vh;
  font-size: 24px;
  letter-spacing: 8px;
  text-transform: uppercase;
  text-align: center;
  color: white;
  top: 0;
  left: 24px;
  margin: 0;
}

.vision.vertical {
  right: 24px;
}
