.listContainer {
  max-width: 900;
  margin: auto;
}
.flexName {
  justify-content: space-between;
  text-transform: lowercase;
}
.address {
  text-transform: lowercase;
  opacity: 0.8;
  font-size: 18px;
  letter-spacing: 2px;
}
.type {
  color: salmon;
  margin-left: 8px;
  line-height: 1.4;
}
.title {
  text-transform: lowercase;
  margin-top: 0px;
  margin-bottom: 0px;
}
.text {
  margin-top: -8px;
  max-width: 700;
}
.link {
  text-decoration: underline;
  display: flex;
  align-items: center;
}
.moreInfo {
  display: none;
}
