.flex {
  display: flex;
}
.flex-center {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.center {
  text-align: center;
}
.right {
  text-align: right;
}
.left {
  text-align: left;
}
.vertical-text {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}
.hidden {
  display: none;
}

input[type='checkbox'] {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.checkbox,
.input {
  display: inline-block; // set to `inline-block` as `inline elements ignore `height` and `width`
  height: 20px;
  width: 20px;
  background: #fff;
  border: 2px #ddd solid;
  margin-right: 4px;
}

.checkbox--active,
.input--active {
  border-color: purple;
  background: purple;
}

.desktop {
  @media (max-width: 700px) {
    display: none;
  }
}
