.flex {
  display: flex;
}
.flex-center {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.center {
  text-align: center;
}
.right {
  text-align: right;
}
.left {
  text-align: left;
}

.vertical-text {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}
