.flex {
  display: flex;
  flex-wrap: wrap;
}
.flex-center {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.center {
  text-align: center;
}
.right {
  text-align: right;
}
.left {
  text-align: left;
}
.vertical-text {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}
.hidden {
  display: none;
}

input[type='checkbox'] {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.checkbox,
.input {
  display: inline-block; // set to `inline-block` as `inline elements ignore `height` and `width`
  height: 20px;
  width: 20px;
  background: #fff;
  border: 2px #ddd solid;
  margin-right: 4px;
  font-family: 'Violet Sans';
}

.checkbox--active,
.input--active {
  border-color: purple;
  background: purple;
  font-family: 'Violet Sans';
}

.desktop {
  @media (max-width: 700px) {
    display: none;
  }
}

//about

// .vertical {
//   -ms-writing-mode: tb-rl;
//   writing-mode: vertical-rl;
//   text-orientation: mixed;
//   letter-spacing: 8px;
//   height: 100vh;
// }

// .vision.vertical {
//   right: 1.5rem;
//   @media (max-width: 700px) {
//     right: 0.5rem;
//   }
// }

// .present.vertical {
//   color: black;
//   margin-left: -3.75rem;
//   @media (max-width: 700px) {
//     margin-left: -2.375rem;
//   }
// }

// .history.vertical h3 {
//   left: 1.5rem;
//   @media (max-width: 700px) {
//     left: 0.5rem;
//   }
// }
.about {
  .history {
    background-color: black;
    color: white;
  }
  .present {
    text-align: center;
    .content {
      margin: auto;
    }
  }
  .vision {
    text-align: right;
    background-color: blueviolet;
    color: white;
    &.side {
      right: 0;
    }
    .content {
      margin-right: 0;
      margin-left: auto;
    }
  }

  .container {
    transition: 350ms ease-in-out;
    height: 100vh;
    padding: 0 4px;
    width: 100%;
    &.open .vertical {
      display: none;
    }
    &.side {
      height: 100vh;
      width: 30px;
      // position: fixed;

      top: 0;
      z-index: 2;
      text-align: center;
      cursor: pointer;
      .content {
        display: none;
      }
      .vertical {
        -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        letter-spacing: 8px;
        height: 100vh;
        position: fixed;
        top: 0;
      }
    }
    .content {
      padding: 4rem 2rem;
      max-width: 600px;
    }
  }
}
